<header class="landing-top">
  <div class="container text-center">
    <h1 class="landing-h1">
      Escolha uma solução para avaliar
    </h1>
    <h2 class="landing-h2">
      Selecione uma das soluções abaixo para fazer sua avaliação e concorrer a prêmios
    </h2>
    <h3 class="landing-h3">
      Sobre a avaliação
    </h3>
    <h4 class="landing-h4">
      A avaliação possui 07 etapas em uma única página. Estimativa de tempo para avaliar de até 5 minutos.
      <br>
      Após sua avaliação, nossa equipe de curadores irá verificar se as respostas estão dentro dos nossos termos.
    </h4>
  </div>
</header>

<div class="landing-categories">

  <div class="container">
    <aside class="landing-categories col-md-4">
      <span class="menu-title ico-arrow-right">Escolha uma categoria</span>
      <ul class="menu-items">
        <li><a href="#">Nome da categoria</a></li>
        <li><a href="#">Nome da categoria</a></li>
        <li><a href="#">Nome da categoria</a></li>
        <li><a href="#">Nome da categoria</a></li>
        <li><a href="#">Nome da categoria</a></li>
        <li><a href="#">Nome da categoria</a></li>
        <li><a href="#">Nome da categoria</a></li>
        <li><a href="#">Nome da categoria</a></li>
        <li><a href="#">Nome da categoria</a></li>
        <li><a href="#">Nome da categoria</a></li>
        <li><a href="#">Nome da categoria</a></li>
        <li><a href="#">Nome da categoria</a></li>
      </ul>
    </aside>

    <section class="landing-products col-md-8">
      <span class="menu-title ico-arrow-right">Soluções populares</span>
      <ul class="products-list">
        <li class="products-list-item"><a href="#"><img src="<%= image_path("googlehangouts.jpeg")%>" class="product-image"></a></li>
        <li class="products-list-item"><a href="#"><img src="<%= image_path("googlehangouts.jpeg")%>" class="product-image"></a></li>
        <li class="products-list-item"><a href="#"><img src="<%= image_path("googlehangouts.jpeg")%>" class="product-image"></a></li>
        <li class="products-list-item"><a href="#"><img src="<%= image_path("googlehangouts.jpeg")%>" class="product-image"></a></li>
        <li class="products-list-item"><a href="#"><img src="<%= image_path("googlehangouts.jpeg")%>" class="product-image"></a></li>
        <li class="products-list-item"><a href="#"><img src="<%= image_path("googlehangouts.jpeg")%>" class="product-image"></a></li>
        <li class="products-list-item"><a href="#"><img src="<%= image_path("googlehangouts.jpeg")%>" class="product-image"></a></li>
        <li class="products-list-item"><a href="#"><img src="<%= image_path("googlehangouts.jpeg")%>" class="product-image"></a></li>
        <li class="products-list-item"><a href="#"><img src="<%= image_path("googlehangouts.jpeg")%>" class="product-image"></a></li>
        <li class="products-list-item"><a href="#"><img src="<%= image_path("googlehangouts.jpeg")%>" class="product-image"></a></li>
        <li class="products-list-item"><a href="#"><img src="<%= image_path("googlehangouts.jpeg")%>" class="product-image"></a></li>
        <li class="products-list-item"><a href="#"><img src="<%= image_path("googlehangouts.jpeg")%>" class="product-image"></a></li>
        <li class="products-list-item"><a href="#"><img src="<%= image_path("googlehangouts.jpeg")%>" class="product-image"></a></li>
        <li class="products-list-item"><a href="#"><img src="<%= image_path("googlehangouts.jpeg")%>" class="product-image"></a></li>
        <li class="products-list-item"><a href="#"><img src="<%= image_path("googlehangouts.jpeg")%>" class="product-image"></a></li>
        <li class="products-list-item"><a href="#"><img src="<%= image_path("googlehangouts.jpeg")%>" class="product-image"></a></li>
        <li class="products-list-item"><a href="#"><img src="<%= image_path("googlehangouts.jpeg")%>" class="product-image"></a></li>
        <li class="products-list-item"><a href="#"><img src="<%= image_path("googlehangouts.jpeg")%>" class="product-image"></a></li>
        <li class="products-list-item"><a href="#"><img src="<%= image_path("googlehangouts.jpeg")%>" class="product-image"></a></li>
        <li class="products-list-item"><a href="#"><img src="<%= image_path("googlehangouts.jpeg")%>" class="product-image"></a></li>
      </ul>
    </section>

  </div>

</div>
