<div class="product">
  <%= render 'header' %>
  <div class="container">
    <%= render 'aside' %>
    <%= render 'section' %>
  </div>
</div>

<%= render 'demo_modal' %>
<%= render 'assessment_modal' %>
