<p>NOVO LEAD</p>
<br />

<p>Produto: <%= @produto.nome %></p>

<p>Nome: <%= @user.name %></p>
<p>E-mail: <%= @user.email %></p>
<p>Headline: <%= @user.headline %></p>
<p>Industria: <%= @user.industry %></p>
<p>Linkedin: <%= link_to @user.profile_url, @user.profile_url %></p>
<br />

<p>Att.</p>
<p>Dr. Ivo Robotnik (Dr. Eggman)</p>
