<!DOCTYPE html>
<html lang="pt-br">

  <%= render 'common/head' %>

  <body>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '543943629293405');
    fbq('track', 'PageView');
    </script>
    <noscript>
    <img height="1" width="1"
    src="https://www.facebook.com/tr?id=574567562882610&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NR58QFJ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%= render partial: "common/header" %>

    <!-- Main -->
    <main id="main">
      <% flash.each do |key, value| %>
        <% unless !params[:action] == 'thanks' %>
          <%= content_tag :p, value, class: key %>
        <% end %>
      <% end %>

      <%= yield %>
    </main>

    <%= render 'common/footer' %>
    <%= render 'common/sign_up_modal' %>
    <%= render 'common/login_modal' %>
    <%= render 'common/sign_up_success_modal' %>
    <%= render 'common/forgot_password_modal' %>
  </body>
</html>
